$orange: #f77a52;
$dblue: #232532;
$lblue: #644d52;
$textc: #9d959d;
$time: 0.2s;

.para {
  color: $lblue;
  font-size: 25px;
  background-color: $orange;
  width: 245px;
  margin: 0px;
  padding: 0px;
}
button{
    background-color: rgba(94, 255, 0, 0.596);
}
