<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>page3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="css/style3.css">
  <body>
      <div id="app">
            <p class="para" v-show="!name">متن خود را وارد کن</p>
                   <form action="">ّ
                        <textarea name="" id="" cols="30" rows="10" v-model="name" >

                        </textarea>
                    </form>
                    <button v-show="name">من را کلیک کن</button>

         </div>
         <p>v-model="something(name)" v-show="(!name ya name)شرط"</p>
         <p>v-show tanha hidden va show mikonad ama agar az v-if ke shart hast estefae konam begam age vojod nadasht namaiesh nadekol element ro pak mikonad <br>
        ke dar negah hich tafavoti nemibinam ama dar amal motefavet ast (bishtar az hamin v-show estefade mikonam dar in mavared baraie hamin sakhte shode)</p>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script>
        new Vue({
            el:'#app',
            data:{
                name:""
            }
        })
        </script>
  </body>
</html>
