<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
      <script src="js/vue.js"></script>
 
</head>
<body dir="rtl">
        <h1>directiv ها</h1>
        <h2>دیگر از دابل کولی برس همون اکولاد استفاده نمیکنم و اینجا وندر میشه وپس خبری از {{}}نیست جایگزینش پایینی هاست</h2>
        <p>v-text</p> <span>این فقط  تکستی که درون دیتا گفتیم هر چی هست میاره و حتی تگ هم باشد اسم تگ رو مینویسه و استایل مربوط به این که اون تگ بود و غیره رو بگیر بیار نداره برای اینکاراز وی اچ تی ام ال استفاده میکنم</span>
        <p>v-html</p> مثلا اگر مسیج من در دیتا میبود  h4 style = bg red تمام استایل من و با همین تگم ملحق میشه< / h4 >
        <p>v-show</p>
        <p>v-if</p> <span>برای اینکه من شرط بذار میگم مثلا اینطوری مینویسم v-if="message"برای من اگر ترو هست نامم بنویس ترو</span>
        <p>v-else</p> <span> با نوشتن وی الس برابر با مسیج میگم وگرنه این مسیج رو نشون بده مثلا فالس بود نمایش بده چون بالا ترو نمایشش میده</span>
        <p>v-else-if</p> <span>از این هم میشه استفاده کرد مثلا بنویسم: v-else-if="!message" خب پس اینم فالس نمایش میده</span>
        <p>v-for</p> <span>مثلا من یک ارایه دارم و میخوام ارایه ی مسیج خودم نشان بدم باید تینجوری کار کنم </span>  <span>من در اسکریپت دیتای خودم فقط دارم مسیجز:ارایه ی من همین و برای استفاده از فور در یالا مسنویسم  مثلا یک یو ال میخوام درست کنم </span>
        <span> li v-for="massege in massages(چیزی که از قبل دارمش وجود دارد این است در ارای و مسیج اولی فقط یک نام است و مهم نیست  و جایی نگفتمش )</span> <span> و بعدش خب باید با v-text ya v-html چاپ کنم با حلقه ای داشتم</span>
        <p>v-on</p>  <!-- @ --> <span> v-on === @ همون ایونت بود مثلا کلیک و هرچی با این باهم یکی ان</span>
        <p>v-bind</p> <!-- : --> <span>مثلا اینپوت من یک اتریبیوت داره که مثلا اتریبیوت placeholder من باید از v-bindاستفاده کنم و حالا بجای نوشتن اتریبیوت ها فقط یک دو نقطه میذارم پشت هر اتریبیوت مثال </span><span>مثلا در دیتای خودم یک url و title دارم میخوام به تگ لینک دارم در اپ تی ام ال بهش بدم باید بنویسم v-bind:href="url" و v-bind:title="title" و در تکامل وی بایند ها پاک و بجاش از دو نقطه استفاده میکنم </span>
        <p>v-model</p> <span>مدل من که نام پراپرتی من درونش میره</span>
        <p>v-pre</p> <span> وقتی بنویسم v-pre یعنی هرچی درونم بذاری من به صورت ویوو در نظر نمیگیرم اصلا مربوط به من نیست</span>
        <p>v-cloak</p> برای انکه زمانی که هزینه میشود برای چند صدم ثانیه اکولاد هارا نشان میده من با یان وی کلاک میگم اینطوری نباش و با یک استایل ان را که دیسپلی نان میکنم و یا بعد چند ثانیه نشونم بده یا هرچی دوست دارم در ویوو زیاد اکولا هارو استفاده نمیکنم  برای من بای مثال خاتمه میدم وی دش کلاک را
        <span> h2 v-colock v-model={{}}</span> <span>استایل دادن به v-clock</span><span>[v-clock]{display:none}</span>
       <span>هر وقت از دابل اکواد استفاده کردم از وی کلاک استفاده میکنم</span>
        <p>v-once</p> <span>تنها یک بار رندر بکن کلا رندر میکنه و اما دوبار نوشتن دیتا برای تغییر را ندارد</span>

<div id="app">


       
</body>
</html>